<template>
    <v-container fluid>

      <v-card elevation="0" outlined>
        <v-card-title>
            Aalysis Models
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              <v-data-table
                :items="heuristics"
                :headers="headers"
                group-by="index"
                sort-by="level"
              >
              </v-data-table>
            </v-col>
          </v-row>
          <!-- <v-row>
            <v-col>
              <v-card-title v-text="'Add new model'" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card-title v-text="'Condition'" />
            </v-col>
          </v-row> -->
          <!-- <v-row>
              <v-card flat outlined v-if="card.type !== 'leaf'">
                <v-card-title v-if="card.type === 'root'" v-text="`Level ${card.level} - ${card.type}`" />
                <v-card-title v-else v-text="`Level ${card.level} ${card.yesOrNo} - ${card.type}`" />
                <v-list>
                  <v-list-item>
                    <v-list-item-content class="text-center">
                      <v-select
                        v-model="card.metric"
                        :items="listOfMetrics"
                        label="Select metric"
                        hint="Select metric"
                        persistent-hint
                        single-line
                        class="pa-0"
                      />
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content class="text-center">
                      <v-select
                        v-model="card.condition"
                        :items="['>','<']"
                        label="Select condition"
                        hint="Select condition"
                        persistent-hint
                        single-line
                        class="pa-0"
                      />
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content class="text-center">
                      <v-text-field
                        v-model="card.threshold"
                        label="Set threshold"
                        hint="Set threshold"
                        type="number"
                        persistent-hint
                        clearable
                        class="pa-0"
                      ></v-text-field>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content class="text-center">
                      <v-row>
                        <v-col cols="4">
                          <v-text-field
                            v-model="card.yes.node"
                            label="Number of nodes"
                            hint="Number of nodes"
                            persistent-hint
                            type="number"
                            clearable
                            class="pa-0"
                          />
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="card.yes.leaf"
                            label="Number of leaves"
                            hint="Number of leaves"
                            persistent-hint
                            type="number"
                            clearable
                            class="pa-0"
                          />
                        </v-col>
                        <v-col cols="4">
                          <v-btn
                            depressed
                            color="primary"
                            :disabled="enableButton(i, 'yes')"
                            @click="addCards(i, 'yes')"
                            class="pa-0"
                          >
                            Add
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content class="text-center">
                      <v-row>
                        <v-col cols="4">
                          <v-text-field
                            v-model="card.no.node"
                            label="Number of nodes"
                            hint="Number of nodes"
                            persistent-hint
                            type="number"
                            clearable
                            class="pa-0"
                          />
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="card.no.leaf"
                            label="Number of leaves"
                            hint="Number of leaves"
                            persistent-hint
                            type="number"
                            clearable
                            class="pa-0"
                          />
                        </v-col>
                        <v-col cols="4">
                          <v-btn
                            depressed
                            color="primary"
                            :disabled="enableButton(i, 'no')"
                            @click="addCards(i, 'no')"
                            class="pa-0"
                          >
                            Add
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card>
              <v-card v-else flat outlined >
                <v-card-title v-text="`Level ${card.level} ${card.yesOrNo} - ${card.type}`" />
                <v-list>
                  <v-list-item>
                    <v-list-item-content class="text-center">
                      <v-text-field
                        v-model="card.output"
                        label="Set outputvalue"
                        hint="Okay or bottleneck"
                        type="string"
                        persistent-hint
                        clearable
                        class="pa-0"
                      ></v-text-field>
                      <v-btn
                        depressed
                        color="primary"
                        :disabled="card.output === ''"
                        @click="addRule(i)"
                        class="pa-0"
                      >
                        Add
                      </v-btn>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-col>
          </v-row> -->
        </v-card-text>
      </v-card>
    </v-container>
</template>
<script lang="ts">
import {
  Component, Vue,
} from 'vue-property-decorator'

import { metricType } from './type'

import heuristics from './heuristics.json'

// data structure - analysis model
declare interface INode {
  type: string
  level: string
  metric?: string
  condition?: string
  threshold?: number
  output?: string
  yes?: Array<INode>
  no?: Array<INode>
}

// data structure - table
declare interface IData {
  index: number
  level: string
  metric: string
  condition: string
  threshold: number
  yes?: string[] | []
  no?: string[] | []
}

// data structure - new rule card
declare interface ICardData {
  type: 'node' | 'leaf'
  level: string
  metric: string
  condition: '>' | '<' | ''
  threshold: number
  output: string
  yes: Record<'node'|'leaf', number>
  no: Record<'node'|'leaf', number>
  yesOrNo: 'yes' | 'no' | 'root'
}

@Component
export default class AnalysisModels extends Vue {
  public data: Array<Record<string, any>> = heuristics

  public analysisModels: INode[] = []

  public heuristics: IData[] = []

  public newModel: INode[] = []

  public listOfMetrics: Array<metricType> = [
    'cpu.Branch Misprediction Rate',
    'cpu.Branch Misprediction Ratio',
    'cpu.Branch Rate',
    'cpu.CPI', 
    'cpu.Clock', 
    'cpu.FLOPS DP',
    'cpu.FLOPS SP',
    'cpu.Instructions per Branch',
    'cpu.Load to Store Ratio',
    'cpu.Packed',
    'cpu.Scalar',
    'cpu.Uncore Clock',
    'cpu.Usage Iowait',
    'cpu.Usage Nice',
    'cpu.Usage System',
    'cpu.Usage Total',
    'cpu.Usage User',
    'cpu.Usage Virtual',
    'cpu.Vectorization Ratio',
    'cycles.Cycles without execution due to L1D',
    'cycles.Cycles without execution due to L2',
    'cycles.Cycles without execution due to memory loads',
    'cycles.Execution stall rate',
    'cycles.Stalls caused by L1D misses rate',
    'cycles.Stalls caused by L2 misses',
    'cycles.Stalls caused by L2 misses rate',
    'cycles.Stalls caused by memory loads',
    'cycles.Stalls caused by memory loads rate',
    'cycles.Total execution stalls',
    'energy.CPU Energy',
    'energy.CPU Power',
    'energy.power',
    'io.Average Read Request Size',
    'io.Average Read Wait Time',
    'io.Average Request Queue Length',
    'io.Average Write Request Size',
    'io.Average Write Wait Time',
    'io.Merged Read Requests',
    'io.Read KB/s',
    'io.Read Requests/s',
    'io.Utilization',
    'io.Write KB/s',
    'io.Write Requests/s',
    'mem.Active',
    'mem.Buffers',
    'mem.Cached',
    'mem.Inactive',
    'mem.L2 Bandwidth',
    'mem.L2 Data Volume',
    'mem.L2 Miss Rate',
    'mem.L2 Miss Ratio',
    'mem.L2 Request Rate',
    'mem.L2D Evict Bandwidth',
    'mem.L2D Evict Data Volume',
    'mem.L2D Load Bandwidth',
    'mem.L2D Load Data Volume',
    'mem.L3 Bandwidth',
    'mem.L3 Data Volume',
    'mem.L3 Miss Rate',
    'mem.L3 Miss Ratio',
    'mem.L3 Request Rate',
    'mem.MemAvailable',
    'mem.MemFree',
    'mem.MemTotal',
    'mem.MemUsage',
    'mem.MemUsed',
    'mem.Memory Data Volume',
    'mem.Memory Read Bandwidth',
    'mem.Memory Read Volume',
    'mem.Memory Write Bandwidth',
    'mem.Memory Write Volume',
    'mem.Memory bandwidth',
    'mem.SwapCached',
    'mem.SwapFree',
    'mem.SwapTotal',
    'roofline.AVX FLOPS DP',
    'roofline.AVX FLOPS SP',
    'roofline.Operational Intensity'
  ]
  // public cards: Array<ICardData> = []
  public index = 1
  // public rootCard: ICardData = {
  //   type: 'node',
  //   level: '(0)',
  //   metric: 'cpu.CPI',
  //   condition: '>',
  //   threshold: 10,
  //   output: '',
  //   yes: {node: 0, leaf: 1},
  //   no: {node: 2, leaf: 0},
  //   yesOrNo: 'root'
  // }

  public headers = [
    {
      text: 'Heuristic number',
      align: 'start',
      sortable: false,
      value: 'index',
    },
    { text: 'level', value: 'level' },
    { text: 'metric', value: 'metric' },
    { text: 'condition', value: 'condition' },
    { text: 'threshold', value: 'threshold' },
    { text: 'yes', value: 'yes' },
    { text: 'no', value: 'no' },
  ]

  public async created() {
    this.data.forEach((obj, id) => {
      this.index = id + 1
      this.analysisModels.push({
        type: obj['type'],
        level: obj['level'],
        metric: obj['metric'] || undefined,
        condition: obj['condition'] || undefined,
        threshold: obj['threshold'] || undefined,
        output: obj['output'] || undefined,
        yes: obj['yes'] || undefined,
        no: obj['no'] || undefined,
      })
      this.addHeuristic(obj as INode)
    })
    // this.cards.push(this.rootCard)
  }

  // get numberOfCards() {
  //   return this.rootCard
  // }

  // public enableButton(i: number, yesOrNo: 'yes' | 'no') {
  //   return !(this.cards[i].metric !== '' 
  //     && this.cards[i][yesOrNo].node + this.cards[i][yesOrNo].leaf > 0 
  //     && this.cards[i].threshold > 0
  //   )  
  // }

  // public addCards(i: number, yesOrNo: 'yes' | 'no') {
  //   const yOrN = yesOrNo === 'yes' ? 'Y' : 'N'
  //   if (typeof this.cards[i][yesOrNo].node === 'string') {
  //     this.cards[i][yesOrNo].node = +this.cards[i][yesOrNo].node
  //   }
  //   if (typeof this.cards[i][yesOrNo].leaf === 'string') {
  //     this.cards[i][yesOrNo].leaf = +this.cards[i][yesOrNo].leaf
  //   }
  //   console.log(this.cards[i][yesOrNo].node)
  //   for (let id = 0; id < this.cards[i][yesOrNo].node; id += 1) {
  //     if (!this.cards.map((c) => c.level).includes(this.cards[i].level + '-' + yOrN + '(' + id + ')')) {
  //       this.cards.push({
  //         type: 'node',
  //         level: this.cards[i].level + '-' + yOrN + '(' + id + ')',
  //         metric: '',
  //         condition: '',
  //         threshold: 0,
  //         output: '',
  //         yes: {node: 0, leaf: 0},
  //         no: {node: 0, leaf: 0},
  //         yesOrNo: yesOrNo
  //       })
  //     }
  //   }
  //   for (let id = this.cards[i][yesOrNo].node; id < this.cards[i][yesOrNo].node + this.cards[i][yesOrNo].leaf; id += 1) {
  //     if (!this.cards.map((c) => c.level).includes(this.cards[i].level + '-' + yOrN + '(' + id + ')')) {
  //       this.cards.push({
  //         type: 'leaf',
  //         level: this.cards[i].level + '-' + yOrN + '(' + id + ')',
  //         metric: '',
  //         condition: '',
  //         threshold: 0,
  //         output: '',
  //         yes: {node: 0, leaf: 0},
  //         no: {node: 0, leaf: 0},
  //         yesOrNo: yesOrNo
  //       })
  //     }
  //   }
  // }

  public addHeuristic(obj: INode) {
    let heuristic: IData[] = []
    if (obj.type === 'node') {
      if (obj.metric && obj.condition && obj.threshold && obj.yes && obj.no) {
        heuristic.push({
          index: this.index,
          level: obj.level,
          metric: obj.metric,
          condition: obj.condition,
          threshold: obj.threshold,
          yes: obj.yes.map((dataObj) => {
            if (dataObj.metric && obj.condition && obj.threshold) {
              return `${dataObj.metric} ${dataObj.condition} ${dataObj.threshold}`
            } else if (dataObj.output) {
              return dataObj.output
            } return ''
          }),
          no: obj.no.map((dataObj) => {
            if (dataObj.metric && obj.condition && obj.threshold) {
              return `${dataObj.metric} ${dataObj.condition} ${dataObj.threshold}`
            } else if (dataObj.output) {
              return dataObj.output
            } return ''
          })
        })
        obj.yes.forEach((y) => this.addHeuristic(y))
        obj.no.forEach((n) => this.addHeuristic(n))
      }
    }
    heuristic.forEach((h) => this.heuristics.push(h))
  }

  // public createModel(obj: ICardData): INode {
  //   if (obj.level === '(0)') {
  //     return {
  //       type: obj.type,
  //       level: obj.level,
  //       metric: obj.metric,
  //       condition: obj.condition,
  //       threshold: obj.threshold,
  //       output: obj.output,
  //       yes: [],
  //       no: []
  //     }
  //   }
  //   return model
  // }

  // public addRule(i: number) {
  //   // type: string
  //   // level: number
  //   // metric?: string
  //   // condition?: string
  //   // threshold?: number
  //   // output?: string
  //   // yes: Array<INode>
  //   // no: Array<INode>
  //   const levels = this.cards[i].level.split('-')
    
  //   let model = {} as INode

  //   levels.forEach((l, i) => {
  //     if (i === 0) {
  //       model = {
  //         type: this.cards.filter((c) => c.level === l)[0].type,
  //         level: this.cards.filter((c) => c.level === l)[0].level,
  //         metric: this.cards.filter((c) => c.level === l)[0].metric,
  //         condition: this.cards.filter((c) => c.level === l)[0].condition,
  //         threshold: this.cards.filter((c) => c.level === l)[0].threshold,
  //         output: this.cards.filter((c) => c.level === l)[0].output,
  //         yes: [],
  //         no: [],
  //       }
  //     } else if (l.includes('Y')) {
  //       model.yes?.push()
  //     }
  //   })

  //   // console.log(model)
  //   let s = ''
  //   const listLevels = levels.map((l) => {
  //     if (l !== '(0)') s = s + '-' + l
  //     else s = '(0)'
  //     return s
  //   })

  //   const str = ''
  //   const keys = levels.map((l) => {
  //     if (l === '(0)') {
  //       return ''
  //     } else if (l.includes('Y')) {
  //       const index = l.replace('Y(', '').replace(')', '')
  //       return str + `yes[${index}]`
  //     } else {
  //       const index = l.replace('N(', '').replace(')', '')
  //       return str + `no[${index}]`
  //     }
  //   })

  //   console.log(keys)

  //   const listRules = this.cards.filter((c) => listLevels.includes(c.level))

    

  //   // listRules.forEach((l) => {
  //   //   model = this.createModel(l, model)
  //   // })
  //   // console.log(model)
    
  //   // listRules.forEach((l) => {
  //   //   if (l.yesOrNo === 'root') {
  //   //     model.type = l.type
  //   //     model.level = l.level
  //   //     model.metric = l.metric
  //   //     model.condition = l.condition
  //   //     model.threshold = l.threshold
  //   //     model.output = l.output
  //   //   }
  //   // })
  //   // const input = this.cards.filter((c) => listLevels.includes(c.level))
  //   // const inputList = listLevels.map((l) => {
  //   //   this.cards[i].
  //   // })
  //   // this.analysisModels.push()
  // }
}
</script>