<template>
  <v-card flat outlined>
    <v-row v-for="(chart, i) in chartList" :key="i">
      <v-col v-if="chart.level === '(0)'">
        <v-card-title>
          Key metric data
          <v-spacer />
          <v-select
            v-model="selectedData"
            :items="listOfData"
            label="Select dataset"
            hint="Select dataset"
            persistent-hint
            single-line
            class="pa-0"
          />
          <v-spacer />
          <v-select
            v-model="selectedMetric"
            :items="listOfKeyMetrics"
            item-text="keyMetric"
            item-value="keyMetric"
            label="Select metric"
            hint="Select metric"
            persistent-hint
            single-line
            class="pa-0"
          />
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              mean total = {{ keyMetricSplit.meanTotal }}
            </v-col>
            <v-col>
              mean bottleneck = {{ keyMetricSplit.meanBottleneck }}
            </v-col>
            <v-col>
              max = {{ keyMetricSplit.max }}
            </v-col>
            <v-col>
              min = {{ keyMetricSplit.min }}
            </v-col>
            <v-col>
              min bottleneck = {{ keyMetricSplit.minBottleneck }}
            </v-col>
            <v-col>
              threshold = {{ keyMetricSplit.threshold }}
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-responsive
                :aspect-ratio="16 / 9"
                class="mb-2"
              >
                <v-chart :ref="chart.level" :option="keyMetricOption()" autoresize/>
              </v-responsive>
            </v-col>
          </v-row>
        </v-card-text>
      </v-col>
      <v-col v-else>
        <v-card-title>
          Level {{ chart.level }} | {{ `${metricText(chart.metric)} ${chart.condition} ${chart.threshold}`}}
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              mean total = {{ conditionSplit(chart.metric, chart.condition, chart.threshold).meanTotal }}
            </v-col>
            <v-col>
              mean bottleneck = {{ conditionSplit(chart.metric, chart.condition, chart.threshold).meanBottleneck }}
            </v-col>
            <v-col>
              max = {{ conditionSplit(chart.metric, chart.condition, chart.threshold).max }}
            </v-col>
            <v-col>
              min = {{ conditionSplit(chart.metric, chart.condition, chart.threshold).min }}
            </v-col>
            <v-col>
              min bottleneck = {{ conditionSplit(chart.metric, chart.condition, chart.threshold).minBottleneck }}
            </v-col>
            <v-col>
              threshold = {{ chart.threshold }}
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-responsive
                :aspect-ratio="16 / 9"
                class="mb-2"
              >
                <v-chart :ref="chart.level" :option="conditionOption(chart)" autoresize/>
              </v-responsive>
            </v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-card>
</template>
<script lang="ts">
import {
  Component, Vue, Watch,
} from 'vue-property-decorator'
import VChart from 'vue-echarts'

import { use } from 'echarts/core'
import { CanvasRenderer } from 'echarts/renderers'
import { LineChart } from 'echarts/charts'
import {
  GridComponent, TooltipComponent, MarkAreaComponent,
} from 'echarts/components'
import { EChartsOption, SeriesOption$1 } from 'echarts'

import { metricType, conditionType, metricDomain } from './type'

// import data from './data/data_final/1538 mamico.json'
import lulesh from './data/data_final/1459 lulesh.json'
import kripke from './data/data_final/1533 kripke.json'
import parallelAlgorithms from './data/data_final/1462 parallel algorithms.json'
import expensiveInstructions from './data/data_final/1512 expensive instructions.json'
import functionCalls from './data/data_final/1511 function calls.json'
import fioRead from './data/data_final/1473 fio read.json'
import fioWrite from './data/data_final/1472 fio write.json'
import fioReadWrite from './data/data_final/1474 fio read write.json'
import lidCavitySmall from './data/data_final/lid cavity small.json'
import lidCavityMedium from './data/data_final/lid cavity medium.json'
import lidCavityXL from './data/data_final/lid cavity xl.json'
import binarySearch from './data/data_final/1532 binary search.json'
import heuristics from './heuristics.json'

use([CanvasRenderer, GridComponent, LineChart, MarkAreaComponent])

declare interface IChartListDict {
  level: string
  metric: metricType | IMultipleMetric
  threshold: number 
  condition: conditionType
}

declare interface IMultipleMetric {
  metric1: metricType
  metric2: metricType
  op: '+' | '-' | '*' | '/'
}

// data structure - analysis model
declare interface INode {
  type: string
  level: string
  metric?: metricType | IMultipleMetric
  condition?: conditionType
  threshold?: number
  output?: string
  yes?: Array<INode>
  no?: Array<INode>
}


@Component({ components: { VChart }})
export default class AnalysisModels extends Vue {
  public data: Array<Record<string, any>> = heuristics

  public listOfData = [
    'lulesh',
    'kripke',
    'parallel algorithms',
    'expensive instructions',
    'function calls',
    'binary search',
    'fio read',
    'fio write',
    'fio read write',
    'lid cavity small',
    'lid cavity medium',
    'lid cavity xl'
  ]

  public listOfDataObjects = [
    lulesh,
    kripke,
    parallelAlgorithms,
    expensiveInstructions,
    functionCalls,
    binarySearch,
    fioRead,
    fioWrite,
    fioReadWrite,
    lidCavitySmall,
    lidCavityMedium,
    lidCavityXL
  ]

  public selectedData = 'lulesh'

  public metricData: Record<metricDomain, any> = lulesh

  public metricTypeList: Array<metricDomain> = ['cpu', 'mem', 'io', 'energy', 'cycles', 'roofline']

  public analysisModels: INode[] = []

  public newMetricData = {} as Record<metricType, number[]>

  public markAreaColorList: string[] = ['green']

  public listOfKeyMetrics: Array<{ keyMetric: metricType ; threshold: number; condition: conditionType}> = []

  public dataPoints: number = 0

  public selectedMetric: metricType = 'mem.Memory bandwidth'

  public chartList: Array<{level: string; metric: metricType | IMultipleMetric; threshold: number; condition: conditionType}> = []

  public listOfMetrics: Array<metricType> = [
    'cpu.Branch Misprediction Rate',
    'cpu.Branch Misprediction Ratio',
    'cpu.Branch Rate',
    'cpu.CPI', 
    'cpu.Clock', 
    'cpu.FLOPS DP',
    'cpu.FLOPS SP',
    'cpu.Instructions per Branch',
    'cpu.Load to Store Ratio',
    'cpu.Packed',
    'cpu.Scalar',
    'cpu.Uncore Clock',
    'cpu.Usage Iowait',
    'cpu.Usage Nice',
    'cpu.Usage System',
    'cpu.Usage Total',
    'cpu.Usage User',
    'cpu.Usage Virtual',
    'cpu.Vectorization Ratio',
    'cycles.Cycles without execution due to L1D',
    'cycles.Cycles without execution due to L2',
    'cycles.Cycles without execution due to memory loads',
    'cycles.Execution stall rate',
    'cycles.Stalls caused by L1D misses rate',
    'cycles.Stalls caused by L2 misses',
    'cycles.Stalls caused by L2 misses rate',
    'cycles.Stalls caused by memory loads',
    'cycles.Stalls caused by memory loads rate',
    'cycles.Total execution stalls',
    'energy.CPU Energy',
    'energy.CPU Power',
    'energy.power',
    'io.Average Read Request Size',
    'io.Average Read Wait Time',
    'io.Average Request Queue Length',
    'io.Average Write Request Size',
    'io.Average Write Wait Time',
    'io.Merged Read Requests',
    'io.Read KB/s',
    'io.Read Requests/s',
    'io.Utilization',
    'io.Write KB/s',
    'io.Write Requests/s',
    'mem.Active',
    'mem.Buffers',
    'mem.Cached',
    'mem.Inactive',
    'mem.L2 Bandwidth',
    'mem.L2 Data Volume',
    'mem.L2 Miss Rate',
    'mem.L2 Miss Ratio',
    'mem.L2 Request Rate',
    'mem.L2D Evict Bandwidth',
    'mem.L2D Evict Data Volume',
    'mem.L2D Load Bandwidth',
    'mem.L2D Load Data Volume',
    'mem.L3 Bandwidth',
    'mem.L3 Data Volume',
    'mem.L3 Miss Rate',
    'mem.L3 Miss Ratio',
    'mem.L3 Request Rate',
    'mem.MemAvailable',
    'mem.MemFree',
    'mem.MemTotal',
    'mem.MemUsage',
    'mem.MemUsed',
    'mem.Memory Data Volume',
    'mem.Memory Read Bandwidth',
    'mem.Memory Read Volume',
    'mem.Memory Write Bandwidth',
    'mem.Memory Write Volume',
    'mem.Memory bandwidth',
    'mem.SwapCached',
    'mem.SwapFree',
    'mem.SwapTotal',
    'roofline.AVX FLOPS DP',
    'roofline.AVX FLOPS SP',
    'roofline.Operational Intensity'
  ]
  
  public created() {
    this.createAnalysisModels()
    this.createCharts()
  }

  @Watch('metricData', { immediate: true })
  public createAnalysisModels() {
    const newMetricDict: Record<string, any> = {}
    let min = 100000000000
    const node = Object.keys(this.metricData.cpu.CPI.system)[0]
    Object.keys((this.metricData)).forEach((k) => {
      if (k === 'cpu' || k === 'io' || k === 'mem' || k === 'energy' || k === 'roofline' || k === 'cycles' ) {
        let key = 'system'
        if (k === 'io') {
          key = 'sda'
        } 
        Object.keys(this.metricData[k]).forEach((mk) => {
          newMetricDict[`${k}.${mk}`] = this.metricData[k][mk][key][node]['data']
          if (min > newMetricDict[`${k}.${mk}`].length) min = newMetricDict[`${k}.${mk}`].length
        })
      }
    })
    this.data.forEach((obj) => {
      this.analysisModels.push({
        type: obj['type'],
        level: obj['level'],
        metric: obj['metric'] || undefined,
        condition: obj['condition'] || undefined,
        threshold: obj['threshold'] || undefined,
        output: obj['output'] || undefined,
        yes: obj['yes'] || undefined,
        no: obj['no'] || undefined,
      })
    })
    this.newMetricData = newMetricDict
    this.dataPoints = min

    this.listOfKeyMetrics = this.data.map((obj) => ({ keyMetric: obj.metric, threshold: obj.threshold, condition: obj.condition }))
  }

  public metricText(metric: metricType | IMultipleMetric) {
    if (typeof metric !== 'string') return `${metric.metric1} ${metric.op} ${metric.metric2}`
    else return metric
  }

  @Watch('selectedData', { immediate: true })
  public dataset() {
    this.metricData = this.listOfDataObjects[this.listOfData.indexOf(this.selectedData)]
  }

  public checkValue(value: number, threshold: number, condition: conditionType) {
    if (condition === '>') return value > threshold
    else return value < threshold
  }

  public calculateMean(arr: number[]) {
    const sum = arr.reduce((a, b) => a + b, 0)
    const mean = (sum / arr.length) || 0
    return (Math.round(mean * 100)/100).toFixed(2)
  }

  get keyMetricSplit() {
    const threshold = this.listOfKeyMetrics.filter((obj) => obj.keyMetric === this.selectedMetric)[0].threshold
    const condition = this.listOfKeyMetrics.filter((obj) => obj.keyMetric === this.selectedMetric)[0].condition
    const t: number[] = this.newMetricData[this.selectedMetric]
      .map((value, index) => this.checkValue(value, threshold, condition) ? index : 0).filter((el) => el !== 0)
    const meanTotal = this.calculateMean(this.newMetricData[this.selectedMetric])
    const meanBottleneck = this.calculateMean(this.newMetricData[this.selectedMetric]
      .map((val, i) => t.includes(i) ? val : 0)
      .filter((val) => val !== 0))
    const max = Math.max(...this.newMetricData[this.selectedMetric])
    const min = Math.min(...this.newMetricData[this.selectedMetric])
    const minBottleneck = Math.min(...this.newMetricData[this.selectedMetric]
      .map((val, i) => t.includes(i) ? val : 0)
      .filter((val) => val !== 0))
    let spl: Array<{ xAxis: number }[]> = []
    if (t.length > 0) {
      let start = t[0]
      let counter = start
      let end = start

      for (let index = 0; index < t.length; index += 1) {
        if (index < t.length - 1) {
          counter = t[index + 1]
          if (counter - 1 === end) {
            end = counter
          } else {
            spl.push([{
              xAxis: start,
            },
            {
              xAxis: end
            }])
            start = counter
            end = start
          }
        } else {
          if (counter == t[index] - 1) {
            counter = t[index]
          }
          else {
            end = counter
            if (start == end) continue
            else  {
              spl.push([{
                xAxis: start,
              },
              {
                xAxis: end
              }])
            }
          }
        }
      }
    }
    return { split: spl, meanTotal, meanBottleneck, max, min, minBottleneck, threshold }
  }

  public conditionSplit(metric: metricType | IMultipleMetric, condition: conditionType, threshold: number) {
    let spl: Array<{ xAxis: number }[]> = []
    let meanTotal = ''
    let meanBottleneck = ''
    let max = ''
    let min = ''
    let minBottleneck = ''
    let dataArray: number[] = []
    if (typeof metric !== 'string') {
      if (metric.op === '+') dataArray = this.newMetricData[metric.metric1].map((val, i) => val + this.newMetricData[metric.metric2][i])
      else if (metric.op === '-') dataArray = this.newMetricData[metric.metric1].map((val, i) => val - this.newMetricData[metric.metric2][i])
      else if (metric.op === '*') dataArray = this.newMetricData[metric.metric1].map((val, i) => val * this.newMetricData[metric.metric2][i])
      else if (metric.op === '/') dataArray = this.newMetricData[metric.metric1].map((val, i) => val / this.newMetricData[metric.metric2][i])
    } else {
      dataArray = this.newMetricData[metric] 
    }
    if (dataArray.length > 0) {
      const t: number[] = dataArray
        .map((value, index) => this.checkValue(value, threshold, condition) ? index : 0).filter((el) => el !== 0)
      meanTotal = this.calculateMean(dataArray)
      meanBottleneck = this.calculateMean(dataArray
        .map((val, i) => t.includes(i) ? val : 0)
        .filter((val) => val !== 0))
      max = (Math.round(Math.max(...dataArray) * 100)/100).toFixed(4)
      min = (Math.round(Math.min(...dataArray) * 100)/100).toFixed(4)
      minBottleneck = (Math.round
        (Math.max(Math.min(...dataArray
          .map((val, i) => t.includes(i) ? val : 0)
          .filter((val) => val !== 0))) * 100)/100).toFixed(2)
      if (t.length > 0) {
        let start = t[0]
        let counter = start
        let end = start
  
        for (let index = 0; index < t.length; index += 1) {
          if (index < t.length - 1) {
            counter = t[index + 1]
            if (counter - 1 === end) {
              end = counter
            } else {
              spl.push([{
                xAxis: start,
              },
              {
                xAxis: end
              }])
              start = counter
              end = start
            }
          } else {
            if (counter == t[index] - 1) {
              counter = t[index]
            }
            else {
              end = counter
              if (start == end) continue
              else  {
                spl.push([{
                  xAxis: start,
                },
                {
                  xAxis: end
                }])
              }
            }
          }
        }
      }
    }
    return { split: spl, meanTotal, meanBottleneck, max, min, minBottleneck }
  }

  @Watch('selectedMetric', { immediate: true })
  public createCharts() {
    const model = this.analysisModels.filter((obj) => obj.metric === this.selectedMetric)[0]
    this.chartList = []
    this.countCharts(model)
  }

  public countCharts(obj: INode) {
    if (obj.type === 'node') {
      if (obj.metric && obj.condition && obj.threshold) {
        this.chartList.push({
          level: obj.level,
          metric: obj.metric,
          condition: obj.condition,
          threshold: obj.threshold
        })
      }
      if (obj.yes && obj.yes.length > 0) obj.yes.forEach((y) => this.countCharts(y))
      if (obj.no && obj.no.length > 0) obj.no.forEach((n) => this.countCharts(n))
    }
  }

  // get runtimeOption(): EChartsOption {
  //   const xAxisData = Array.from(Array(this.dataPoints).keys()).map(x => x * 10)
  //   return {
  //     xAxis: [
  //       {
  //         type: 'category',
  //         scale: true,
  //         data: xAxisData,
  //       },
  //     ],

  //     yAxis: [
  //       {
  //         type: 'value',
  //       },
  //     ],

  //     series: [
  //       {
  //         data: this.newMetricData[this.selectedMetric],
  //         type: 'line'
  //       }
  //     ],
  //   }
  // }

  public keyMetricOption() {
    const xAxisData = Array.from(Array(this.dataPoints).keys()).map(x => x * 10)
    if (this.newMetricData[this.selectedMetric]) {
      const line = this.newMetricData[this.selectedMetric]
      const threshold = this.listOfKeyMetrics.filter((obj) => obj.keyMetric === this.selectedMetric)[0].threshold
      const thresholdLine = xAxisData.map(() => threshold)
      return {
        xAxis: [
          {
            type: 'category',
            scale: true,
            data: xAxisData,
          },
        ],
  
        yAxis: [
          {
            type: 'value',
          },
        ],
  
        series: [
          {
            type: 'line',
            data: line,
            markArea: {
              itemStyle: {
                color: 'rgba(255, 173, 177, 0.4)'
              },
              data: this.keyMetricSplit.split,
            }
          },
          {
            type: 'line',
            data: thresholdLine,
            showSymbol: false,
          }
        ],
  
      }
    } return {}
  }

  public conditionOption(chart: IChartListDict) {
    const xAxisData = Array.from(Array(this.dataPoints).keys()).map(x => x * 10)
    if (this.newMetricData[this.selectedMetric]) {
      let line: number[] = []
      const metric: metricType | IMultipleMetric = chart.metric
      if (typeof metric !== 'string') {
        if (metric.op === '+') line = this.newMetricData[metric.metric1].map((val, i) => val + this.newMetricData[metric.metric2][i])
        else if (metric.op === '-') line = this.newMetricData[metric.metric1].map((val, i) => val - this.newMetricData[metric.metric2][i])
        else if (metric.op === '*') line = this.newMetricData[metric.metric1].map((val, i) => val * this.newMetricData[metric.metric2][i])
        else if (metric.op === '/') line = this.newMetricData[metric.metric1].map((val, i) => val / this.newMetricData[metric.metric2][i])
      } else {
        line = this.newMetricData[metric] 
      }
      // const threshold = this.listOfKeyMetrics.filter((obj) => obj.keyMetric === this.selectedMetric)[0].threshold
      const thresholdLine = xAxisData.map(() => chart.threshold)
      return {
        xAxis: [
          {
            type: 'category',
            scale: true,
            data: xAxisData,
          },
        ],
  
        yAxis: [
          {
            type: 'value',
          },
        ],
  
        series: [
          {
            type: 'line',
            data: line,
            markArea: {
              itemStyle: {
                color: 'rgba(255, 173, 177)',
                opacity: 0.4
              },
              data: this.conditionSplit(chart.metric, chart.condition, chart.threshold).split,
            }
          },
          {
            type: 'line',
            data: thresholdLine,
            showSymbol: false,
          }
        ],
  
      }
    } return {}
  }
} 
</script>
