<template>
  <v-col cols="3">
    
  </v-col>
    <!-- <v-card flat outlined>
      {{ card.metric }}
      <v-card-title v-if="card.type === 'root'" v-text="`Level ${card.level} - ${card.type}`" />
      <v-card-title v-else>
        Level {{` ${card.level}`}} - 
        <v-spacer />
        <v-select
          v-model="card.type"
          :items="['node','leaf']"
          label="Select type of branch (node/leaf)"
          hint="Node/Leaf"
          persistent-hint
          single-line
        />
      </v-card-title>
      <v-list>
        <v-list-item>
          <v-list-item-content class="text-center">
            <v-select
              v-model="card.metric"
              :items="listOfMetrics"
              label="Select metric"
              hint="Select metric"
              persistent-hint
              single-line
            />
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content class="text-center">
            <v-select
              v-model="card.condition"
              :items="['>','<']"
              label="Select condition"
              hint="Select condition"
              persistent-hint
              single-line
            />
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content class="text-center">
            <v-text-field
              v-model="card.threshold"
              label="Set threshold"
              hint="Set threshold"
              type="number"
              persistent-hint
              clearable
            ></v-text-field>
          </v-list-item-content>
        </v-list-item>
        {{ this.card.yes }}
        <v-list-item>
          <v-list-item-content class="text-center">
            <v-text-field
              v-model="yesVal"
              label="If yes - Number of rules"
              hint="Number of rules"
              type="number"
              persistent-hint
              clearable
            />
            <v-btn
                depressed
                color="primary"
                :disabled="enableYesButton"
                @click="addYesCards()"
              >
                Add model
              </v-btn>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content class="text-center">
            <v-text-field
              v-model="card.no"
              label="If no - Number of rules"
              hint="Number of rules"
              type="number"
              persistent-hint
              clearable
            />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card> -->
</template>
<script lang="ts">
import {
  Component, Vue, PropSync,
} from 'vue-property-decorator'

declare interface ICardData {
  type: string
  level: number
  metric: string
  condition: '>' | '<' | ''
  threshold: number
  output: string
  yes: number
  no: number
}

@Component
export default class NewModelCard extends Vue {

  @PropSync('cardsSync', { required: true })
  public cards!: ICardData[]

  public yesVal: number = 0

  // @Prop({ required: true })
  // public level!: number

  // @card.Prop('type', { type: String })
  // public card.type?: 'root' | 'node' | 'leaf'
  
  // @card.Prop('metric', { type: String })
  // public card.metric?: string

  // @card.Prop('condition', { type: String })
  // public card.condition?: '>' | '<' | ''

  // @card.Prop('yes', { type: Number })
  // public card.yes!: 0

  // @card.Prop('no', { type: Number })
  // public card.no!: 0
  
  // @card.Prop('threshold', { type: Number })
  // public card.threshold!: 0

  public listOfMetrics = ['cpu.CPI', 'cpu.Clock', 'cpu.FLOPS DP', 'cpu.FLOPS SP', 'cpu.Load to Store Ratio', 'cpu.Packed', 'cpu.Scalar', 'cpu.Uncore Clock', 'cpu.Usage Iowait', 'cpu.Usage Nice', 'cpu.Usage System', 'cpu.Usage Total', 'cpu.Usage User', 'cpu.Usage Virtual', 'cpu.Vectorization Ratio', 'energy.CPU Energy', 'energy.CPU Power', 'energy.power', 'io.Average Read Request Size', 'io.Average Read Wait Time', 'io.Average Request Queue Length', 'io.Average Write Request Size', 'io.Average Write Wait Time', 'io.Merged Read Requests', 'io.Read KB/s', 'io.Read Requests/s', 'io.Utilization', 'io.Write KB/s', 'io.Write Requests/s', 'mem.Active', 'mem.Buffers', 'mem.Cached', 'mem.Inactive', 'mem.L2 Bandwidth', 'mem.L2 Data Volume', 'mem.L2 Miss Rate', 'mem.L2 Miss Ratio', 'mem.L2 Request Rate', 'mem.L2D Evict Bandwidth', 'mem.L2D Evict Data Volume', 'mem.L2D Load Bandwidth', 'mem.L2D Load Data Volume', 'mem.L3 Bandwidth', 'mem.L3 Data Volume', 'mem.L3 Miss Rate', 'mem.L3 Miss Ratio', 'mem.L3 Request Rate', 'mem.MemAvailable', 'mem.MemFree', 'mem.MemTotal', 'mem.MemUsage', 'mem.MemUsed', 'mem.Memory Data Volume', 'mem.Memory Read Bandwidth', 'mem.Memory Read Volume', 'mem.Memory Write Bandwidth', 'mem.Memory Write Volume', 'mem.Memory bandwidth', 'mem.SwapCached', 'mem.SwapFree', 'mem.SwapTotal']

  // public clickSelect(key: string) {
  //   if (key === 'type') {
  //     this.card.type = 
  //   }
  // }
  // public card.a mounted() {
  //   console.log(this.card.type)
  // }

  // public 
}
</script>
<style lang="scss" scoped>
::v-deep{
  .v-text-field {
    width: 400px;
  }
}

</style>