<template>
    <div>simulation data</div>
</template>
<script lang="ts">
import {
  Component, Vue,
} from 'vue-property-decorator'


@Component
export default class AnalysisModels extends Vue {
}
</script>
