<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import * as q from '@/assets/js/q'

@Component
export default class App extends Vue {
  public isIE11 = q.ie.isIE11()

  public loading = true

  public created() {
    document.title = 'WEBAPP'
    setTimeout(() => {
      this.loading = false
    }, 1900)
  }
}
</script>

<style lang="scss">
@import '@/styles/overrides.scss';
#left-drawer {
  background-color: var(--v-primary-base) !important;
}
</style>
