<template>
  <v-container
    fluid
    v-if="items"
  >
  <v-tabs fixed-tabs v-model="tab">
    <v-tab v-for="item of items" :key="item.name">{{ item.name }}</v-tab>
  </v-tabs> 
  <v-tabs-items v-model="tab">
    <v-tab-item
      v-for="item of items"
      :key="item.name"
    >
      <component
        :is="item.component"
      />
    </v-tab-item>
  </v-tabs-items>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Dashboard from '@/components/tool/Dashboard.vue'
import Heuristics from '@/components/tool/Heuristics.vue'
import AnalysisModels from '@/components/tool/AnalysisModels.vue'
import SimulationData from '@/components/tool/SimulationData.vue'

@Component({ components: {
    Dashboard,
    Heuristics,
    AnalysisModels,
    SimulationData
  }
})
export default class Tool extends Vue {
  public tab = null
  get items() {
    const list = [
      {
        name: 'Dashboard',
        component: Dashboard,
      },
      {
        name: 'Analysis Models',
        component: AnalysisModels,
      },]
    return list
  }

  public async clicked(item: String) {
    console.log(item)
  }
}
</script>
