// workaround found here: https://github.com/vuetifyjs/vuetify/issues/11184
// cspell:disable-next-line
.v-tooltip__content.menuable__content__active {
  opacity: 1 !important;
}

.v-application .echarts {
  width: 100%;
  height: 100%;
}

.v-application .flag-icon {
  box-shadow: 0 0 1px 1px #dddddd;
}

.v-application .v-navigation-drawer .v-list-group--disabled {
  color: var(--v-neutral-base) !important;
  caret-color: var(--v-neutral-base) !important;
}

.v-application .d-hidden {
  visibility: hidden !important;
}