// This file will be automatically injected by `vue-cli-plugin-vuetify`
// See https://dev.vuetifyjs.com/en/customization/sass-variables for more information and variable presets

// globals
$font-size-root: 16px;
$tooltip-background-color: none;
$tooltip-text-color: #000000;
$tooltip-padding: 0;
$data-table-expanded-content-box-shadow: inset 0px 1px 2px -1px rgba(50, 50, 50, 0.25),
  inset 0px -1px 2px -1px rgba(50, 50, 50, 0.25) !default;

$headings: (
  'overline': (
    'line-height': 1rem,
  ),
);